<section class="min-h-screen flex flex-col items-center justify-center bg-gray-100 p-4 dark:bg-darkBg dark:animate-dark-pulse transition-all duration-500">

    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg w-full md:w-3/12 animate-fade-up dark:bg-gray-900 dark:text-white dark:border">
        <h2 class="text-2xl font-bold text-blue-600 mb-6 text-center">Change Password</h2>
  
        <form [formGroup]="changePasswordForm" (ngSubmit)="changeSubmit()">
            <div class="mb-4">
                <label class="block text-sm font-bold text-gray-700 mb-1 dark:text-white">Old Password</label>
                <input formControlName="password" id="password" type="password" placeholder="Type your password" class="w-full bg-gray-50 border border-gray-300 rounded outline-none focus:ring-2 focus:ring-blue-400 dark:text-black" />

                @if (changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty)) {
                    <div class="bg-red-300 text-red-500 text-sm mt-1 p-1 rounded shadow w-3/5">
                        @if (changePasswordForm.get('password')?.getError('required')) {
                            <p class="m-0">password is Required</p>
                        }
                        @else if (changePasswordForm.get('password')?.getError('pattern')) {
                            <p class="m-0">Enter Valid Passsword</p>                        
                        }
                    </div>
                }         
            </div>
    
            <div class="mb-4">
                <label for="newpassword" class="block text-sm font-bold text-gray-700 mb-1 dark:text-white">New Password</label>
                <input formControlName="newPassword" id="newpassword" type="password" placeholder="Type your password" class="w-full bg-gray-50 border border-gray-300 rounded outline-none focus:ring-2 focus:ring-blue-400 dark:text-black" />

                @if (changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('newPassword')?.dirty)) {
                    <div class="bg-red-300 text-red-500 text-sm mt-1 p-1 rounded shadow w-3/5">
                        @if (changePasswordForm.get('newPassword')?.getError('required')) {
                            <p class="m-0">password is Required</p>
                        }
                        @else if (changePasswordForm.get('newPassword')?.getError('pattern')) {
                            <p class="m-0">Enter Valid Passsword</p>                        
                        }
                    </div>
                }             
            </div>
    
    
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition">
                Reset password
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
            
        </form>
    </div>
</section>